

.container-image{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-width: 300px;
  min-height: 300px;

}
.img-product{
  display: flex;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.template-not-found{
  display: flex;
}

text--template-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text--template-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 80%;
}
.title-product{
  margin-left: 20px;
  font-size: 2.3rem;
  margin-bottom: 13px;
}

mat-card-content{
  margin-left: 10%;
}
.container-price{
display: flex;
flex-direction: row;

}


.container--price-dollar{
  margin-left: 15px;


}
.price-dollar{
  font-size: 1.3rem;
}
