

.container-image{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-width: 300px;
  min-height: 300px;

}
.img-product{
  display: flex;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.template-not-found{
  display: flex;
}

text--template-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text--template-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 80%;
}
.title-product{
  margin-left: 20px;
  font-size: 2.3rem;
  margin-bottom: 13px;
}

mat-card-content{
  margin-left: 10%;
}

/* precios */
.container-price{
display: flex;
flex-direction: row;
margin-left: 10%;
margin-top: 3px;
}


.container-price--title-price{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  font-size: 1.4rem;
}
.product-presentation{
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom:2px;
}
.price-bolivar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 5px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

}

.container--price-dollar{
  margin-left: 15px;


}
.price-dollar{
  font-size: 1.7rem;
}
