

.container-image{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-width: 300px;
  min-height: 300px;

}
.img-product{
  display: flex;
}

.template-not-found{
  display: flex;
}

text--template-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text--template-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 80%;
}
