*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: "DM Sans",sans-serif ;
}



.navbar{
  display: flex;
  /* display: grid; */
  /* grid-template-columns: 20% 80%; */
  background: #F3A100 ;
  width: 100%;
}


.navbar--img{
  width: 120px;
  padding: 2px 2px 2px 2px;
  margin-left:60px ;
  margin-right: 10px;
}

.navbar-container--text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

/* .navbar--text{
  font-size: ;
} */
/*
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;
*/
