
<app-navbar></app-navbar>

<div class="container">

  <!-- contenedor -uno -->
  <div class="container-one">


    <div class="container-searchbox">
      <!-- buscador -->

      <app-search-box></app-search-box>

    </div>
    <!--  (onNewProductFount)="productFound($event)" -->
    <div class="container--productsCard">
      <!-- products card -->
    <app-product-card
      (newProduct)="newProduct($event)"
    ></app-product-card>


    <!-- <p>  783970996275</p>
    <p>  757817312764</p>
     <p> 9780201379624</p>
    <p>  757817312801</p>
     <p> 7898247780075</p>
     <p> 7891107101621</p> -->
    </div>

<!-- contenedor ultimos precios  -->
  </div>
  <div>
    <!-- ultimos productos buscados  -->
<app-last-searched></app-last-searched>





</div>



  </div>


