@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


 body{
  height: calc(100%-76px);

 }
 body::-webkit-scrollbar {
  display: none;
 }
 .container {
    display: grid;
    grid-template-columns: 1fr 30%;

    grid-auto-flow: row;
    height: 100%;
    overflow: hidden;

  }

  app-search-box{
    margin-bottom: 50px;
  }

  .container-searchbox{
    margin-top: 10px;
  }

  /* .container--productsCard{
    display: flex;


     margin-top: 60px;
  } */

  .navbar--container-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar--text{
    display: flex;
    width: 300px;
    font-size: 40rem;

  }
  .footer{
    background: #564a00;
    width: 100%;
    height: 20px;
  }
  .container-without-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .container--text-consult{
    margin-top: 18px;
  }
  /* video */

  .video-cecosesola{
     margin-left: 10%;
    margin-top: 2%;
    width: 75%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

