

<app-navbar></app-navbar>

  <div class="container">
    <!-- contenedor -uno -->
    <div class="container-one">
      <div class="container-price-dollar">
        <price-dollar></price-dollar>
      </div>

      <div class="container-searchbox">
        <!-- buscador -->

        <app-search-box ></app-search-box>
      </div>
      <div class="container--productsCard">
        <!-- products card -->

        <ng-template class="ng-template "   #withoutSearch>

          <div class="container--text-consult ">

            <div class="container-without-search">
              <h1>Consulta el precio de tu producto aqui </h1>
              <img style="width: 50px;height: 50px;" src="../assets/icono-buscar.png">

            </div>

            <div class="container--text-consult-video">

              <!-- todo: el video debe estar cargado en una nube  -->

              <video class="video-cecosesola" autoplay loop  >
                <source src="../assets/cecosesola-orgullo-de-venezuela_ub5fr5v8_2.mp4" type="video/mp4">



              </video>
            </div>
          </div>

        </ng-template>


        <app-product-card *ngIf="showComponent; else withoutSearch " ></app-product-card>
      </div>
    </div>

    <div>
      <!-- ultimos productos buscados  -->
      <app-last-searched></app-last-searched>
    </div>

  </div>
  <div class="footer"></div>



