.container {
  display: flex;

  width: 92%;
  justify-content: flex-end;
  height: 40px;
  margin-top: 5px;
}

.container-dollar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5d9a3;
  border-radius: 15%;
  width: 140px;
  height: auto;
}

.price-dollar {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 540;

}
