
<div class="container">

  <div class="boxContainer">

    <table class="elementsContainer">
      <tr>
        <td>
          <input
          [formControl]="inputSearch"
          #inputDos
          class="search"
          placeholder="Escanea tu producto"
          >
        </td>
        <td>
          <mat-icon>search</mat-icon>
        </td>

      </tr>
    </table>

  </div>



</div>




  <!-- <input
          type="number"
          placeholder="Escanea tu producto"
          class="search"
          (keyup.enter)="searchProducts()"
          #txtInput
         />
      </td> -->
