

<div class="boxContainer">
  <table class="elementsContainer">
    <tr>
      <td>
        <input
          type="number"
          placeholder="Escanea tu producto"
          class="search"
          (keyup.enter)="searchProducts()"
          #txtInput
         />
      </td>
      <td></td>
      <!-- aqui va el incono para buscar -->
      <td class="icon-container">

      </td>
      <td>
        <input [formControl]="inputSearch"
        #inputDos
        >

      </td>
    </tr>
  </table>

</div>
